  <!DOCTYPE html>
  <html>
  <head>
      <title>Livros Cadastrados</title>
      <%- include('./links')%>
  </head>
  <body>
    <%- include('./header')%>
      <h1 id="cadastrados">Livros Cadastrados</h1>
      <% if(livros && livros.length > 0){%>
        <div class="row">
          <% livros.forEach(livro => { %>
            <div id="livro" class="col-md-3">
              <img class="img-fluid" id="livroCapa" src="<%= livro.imagem_capa %>" alt="<%= livro.titulo %>">
              <h3><%= livro.titulo %></h3>
              <p><strong>Categoria:</strong> <%= livro.categoria %></p>
              <div class="d-flex flex-column" style="height: 100%;">
                <a class="btn btn-warning" href="livro/<%= livro.id %>">Ver mais</a>
              </div>
            </div>
          <% }); %>
          </div>
      <%} else {%>
        <p>Nenhum livro cadastrado.</p>
      <%}%>
      <a href="/cadastroLivro">Cadastrar Novo Livro</a>
  </body>
  </html>
