<!DOCTYPE html>
<html>
<head>
    <title>Livros Cadastrados</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
  <%- include('./header')%>
    <h1>Livros Cadastrados</h1>
    <% if(livros && livros.length > 0){%>
      <ul>
        <% livros.forEach(livro => { %>
          <li id="livro">
            <h3><%= livro.titulo %></h3>
            <p><strong>Autor:</strong> <%= livro.autor %></p>
            <img id="livroCapa" src="<%= livro.imagem_capa %>" alt="<%= livro.titulo %>">
            <p><strong>Categoria:</strong> <%= livro.categoria %></p>
            <p><strong>ISBN:</strong> <%= livro.isbn %></p>
            <form action="/deleteLivro" method="post">
                <input type="hidden" name="id" value="<%= livro.id %>">
                <button type="submit">Excluir</button>
            </form>
          </li>
        <% }); %>
      </ul>
    <%} else {%>
      <p>Nenhum livro cadastrado.</p>
    <%}%>
    <a href="/cadastroLivro">Cadastrar Novo Livro</a>
</body>
</html>
