<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detalhes</title>
    <%- include('./links')%>
</head>
<body>
    <%- include('./header')%>
    <div id="voltar">
        <i class="bi bi-arrow-left" style="font-size: 1rem;"></i><a href="/livros">Voltar</a>
    </div>
    <%if(livro){%>
        <div id="infoLivroUnico" style="margin-bottom: 10vw;">
            <div id="imagemLivroUnico">
                <img src="<%=livro.imagem_capa%>" alt="<%=livro.titulo%>">
            </div>
            <div id="restoLivroUnico">
                <h3><%= livro.titulo%></h3>
                <div id="categoAutor">
                    <p><%=livro.autor%></p>
                    <p><%=livro.categoria%></p>
                </div> 
                <div id="linha" style="height: 1px; background-color: black; width: 100%;"></div>
                <p><strong>ISBN: </strong><%= livro.isbn%></p>
                <p><strong>Resenha: </strong><%=livro.resenha%></p>
                <form action="/deleteLivro" method="post">
                    <input type="hidden" name="id" value="<%= livro.id %>">
                    <button type="submit" class="btn btn-warning">Excluir</button>
                </form>
            </div>
        </div>
    <%}else{%>
        <div style="margin-left: 42vw;" id="divErro">
        <p id="erroExiste" class="alert alert-danger">Erro ao encontrar o livro</p>
          </div>
          <script>
            setTimeout(function(){
                    var msg = document.getElementById('divErro');
                    if(msg){
                        msg.innerHTML = '';
                    }
                }, 5000);
          </script>
    <%}%>
    <%- include('./footer')%>
</body>
</html>